=== PAGE 1 ===
ربات ازدید کاربر:  
*جوین اجبار ی  
* ربات دارای  این بخشها باشه: 
1. فروشگاه (دسته ها و زیر  دسته ها  و  پروسه  خرید ،  قبل از  خرید اول اسم و شماره باید  ثبت بشه،  
امکان استفاده از کد تخفیف، امکان استفاده از موجودی کیف پول  حتی اگر از  قیمت  سفارش پایینتره )  
2. حساب منشامل  مشخصات کاربر،  موجودی کیف پول، تاریخ جوین) با دکمه های:  
• آمار من:   )  تعداد سفارش،  م جموع پرداختی،  موجود ی  کی ف  پول،  تاری خ  آخرین سفار ش،  تعداد  
دعوت شده ها،  پاداش زیرمجموعه  ها)  
• سفارش های من: (تعداد و  لیست سفارشها که روی هر کدوم زد توضیحات و اطلاعات  سفارشو  
ببینه، سفارشها  حالتهای مختلف دارن مثل ت کمیل شده، در انتظار پرداخت، در انتظار تایید و...  
اینام میتونن با یه آیکون مشخص بشن برا ی کاربر ) 
• تراکنش های من: (لیست تراکنشها  که تاریخ و مبلغ و نوع تراکن ش رو نشون میده،  شامل کل  
پرداختی ها  بابت خرید  و شارژ کیف پول و  تغییر توسط ادمین و پاداشهاست ) 
3. کیف پول  (نمایش موجودی ،  امکان افزایش موجودی با  وارد کردن   مبلغ  دلخواه  و  انتخاب  روش  
پرداخت و پرداخت و تایید   اتومات، دکمه ارسال فیش  که در صورت عدم تایید اتومات  بتونه فیش  
بفرسته ) 
4. پشتیبانی ( دیدن سوال ت متداول بصورت دسته بندی شده،  ثبت تیکت  پشتیبانی، دیدن تیکتهای  
قبلی) 
5. دعوت دوستان  و  کسب درآمد   (تعداد دعوت شده ها، مجموع  پاداش، توضیح  ن حوه در یافت  پاداشها،  
لینک دعوت) شامل دکمه های:  
1. ارسال لینک به دوستان 
6. کانال (دکمهای که فقط لینک شد ه به کانال اصلی) 
 
 
 
ربات از دید مدیریت:  
1. مدیریت کلی ربات  
• امکان خاموش و روشن کردن ربات  
• جوین اجباری با امکان افزودن و حذف و فعال/ غیرفعال کردن کانالها  
• نوع پرداخت ها با امکان فعال/غیرف عالسازی  
• تغییر شماره کارت و نام صاحب حساب  
• تغییر آدرس کانال اصلی  
• تعریف پاداشها ()  
• امکان گرفتن بکاپ از کل دیتای ربات  
• امکان تعریف  کاربر  پشتیبان که به سفارشها و کاربران دسترسی  داره  ( دیدن  لیست مدیران با  
امکان  غیرف عال کردن دسترسی) 
• امکان تعریف مدیر کل جدید ( دیدن لیست مدیران با امکان غیرف عال کردن دسترسی)  
=== PAGE 2 ===
2. محصولت  
• افزودن، حذف، ادیت،  نمایش/عدم نمایش  دسته   (شامل  ایموجی،   عنوان،  توضیح، لیست زیر  
دسته ها)  
• افزودن، حذف، ادیت،  نمایش/عدم نمایش ،  موجود /عدم موجود   برای ه ر  محصول  ( شامل  
ایموجی،  عنوان،  توضیح،  قیمت،  مدت زمان،  فرمت   محصول، انبار محصول، فعال/غیرفعال کردن  
حالت رزرو)  
• بخش انبار محصول که  زیر محصول میاد، امکان  دیدن لیست موجودیها/  افزودن، حذف، ادیت،  
تغییر وضعیت  محصول رو داشته باشه. امکان  انتساب یک موجودی به یک کاربر  توسط ادمین   
که میره توی سفارشهای کاربرم ثبت میشه (برای زمانی ک ه ادمین مستقیما برای کا ربر یک  
محصول رو میفرسته )  
• بخش فرمت محصول که زیر محصول  میاد، فرمت محصول رو تعیین میکنه که جزو  محصولت  
موجود در  انباره و امکان رزروم داره یا نه، یا جزو محصولتیه  که نیاز به ارسال اطلاعات کاربر  
داره.(توصیح تکمیلی پایینتر نوشته شده)  
• ارسال اتومات پیام یادآوری پایان اشتراک  محصول  به کاربر قبل از پایان اشتراک در فاصله های  
زمانی مشخص(مثل یک هفته، 3 روز، همان روز)  
3.  سفارشها  
• دیدن سفارشها  به تفکیک حالت سفارش  
• جستجوی سفارشها  با حالتهای مختلف و بازه زمانی مشخص  
• امکان ویرایش و تغییر حالت سفارش  
4. تیکت ها  
• دیدن لیست تیکتها به تفکیک و امکان جستجوی تیکت خاص  
• دیدن تمام گفتگوی یک تیکت خاص  
• جواب به تیکتها  
• امکان تغییر وض عیت تیکت (مثلا بستن تیکت باز یا هر تغییر حالت دیگری) 
5. کاربران  
• لیست کاربران با امکان جستجو / تفکیک کاربران فعال و غیرفعال و بلاک شده و جدید و... 
• یافتن یک کاربر ( نمایش  اطلاعا ت و  مشخصات کاربر   و  وض عیت کاربر،  تعداد سفارشها و کل پرداختی  
و موجودی کیف پول، تاریخ عضویت، تاریخ اولین و آخرین خرید )  
• بلاک و آنبلاک کردن کاربر  
• افزایش/ کاهش موجودی کاربر با توضیح دلیل و ثبت آیدی کسی که اینکارو کرده  
• سفارشهای  کاربر  (به تفکیک  حالت سفارش و امکان جستجو ی سفارش خاص)  
• تراکنشهای کاربر  
• دیدن زیرمجموعه ها و  پاداشهایی که گرفته  
• ارسال پیام به کاربر  
• ثبت، حذف، غیرفعال کردن تخفیف برای کاربر  روی یک محصول خاص یا برای کل محصولت  
6. ارسال پیام  
• پیام تکی به کاربر خاص  
• پیام گروهی به کاربران خاص  (کاربرانی که فقط ربات رو استارت کردن  در با زه  زمانی خاص، کاربرانی  
که  محص ول خاصی رو در با زه زمانی خاص خریدن) 
=== PAGE 3 ===
• پیام بههمه  
7. سوالت متداول 
• افزودن، حذف، ادیت، فعال/ غیرفعالسازی  دسته سوالت  
• افزودن، حذف، ادیت، فعال/ غیرفعالسازی  سوال ت هر دسته ( شامل سوال و جواب )  
8. تخفیف  ها  
• لیست کدهای تخفیف  
•  تعریف کد جدید  (افزودن، حذف، تعر یف تعداد، مبلغ یا درصد، با  شرط/بدون شرط کاربری، برای  
محصول خاص یا همه محصولت، فعال/غیر فعالسازی)  
9. گزارش  
• گزارش سفارشها در بازه مشخص بهمراه وضعیت سفارش  
• گزارش کاربران (لیست کاربران بر اساس  حالتهای فقط رباتو  در بازه مشخصی  استارت کرده،  یک  
محصول/ همه محصولت رو در بازه مشخصی خرید کرده ) 
• گزارش مالی در بازه مشخص  
  
 
توضیحات تکمیلی: 
*  ه ر  سفارش ب اید شماره سفارش  یونیک  داشته باشه که برای کاربر هم قابل مشاهده است و بعدا برای  
جستجو کاربرد داره.  
*  امکان ارسال ایموجی های متحرک  و  درج  لینک  همچنین استفاده از  حالتهایی مثل بولد و ایتالیک و  
کوت و... در متنها باید وجود داشته باشد.  
*  اگر   محصولی  در حالت عدم موجود ست شده بود،  محصول نمایش داده بشه ولی اگر کاربر روش کلیک  
کرد، پیام ی با مضمون عدم موجود بودن محصول نمایش داده شود.  
*  در ارسال پیام باید مشخص باشه برای چه تعدادی قراره ارسال بشه و د ر نهایت برای چه تعدادی  
ارسال شد. 
* ارسال شماره موبا یل در خرید اول نباید بصورت دستی انجام بشه.  
* حتما بعد از انت خاب سفار ش توسط کاربر، یک متن تایید براش نمایش داده بشه.  
*  کاربر بتونه از بخش سفارشها،  وضعیت سفارش خودش  رو ببینه و اگه نیاز  به ارسال اطلاعات بود بتونه  
بفرسته. یا برای سفارشی که  در انتظار پرداخته  بتونه رسید رو بفرسته.  
*  مهلت پرداخت هر رسید نیم ساعته، بعدش اگه تایید اتومات نشد و کاربرم فیش نفرستاد باید  اکسپایر  
بشه  و برای کاربرم ی ک پیام در این مورد ارسال بشه  که دیگه پرداخت نکنه  و مجدد  محصول انتخاب   
کنه.  
*  نوع پرداخت  کارت به کارت و پرداخ ت ارزی اتومات با ی کی از سایتهای مرتبط  (پرداخت کارت به کارت  
رو میشه با اپلیکیشن رایگ ان  Macrodroid  وبا بررسی پیامکهای بانک  انجام داد،  تایید اتومات  پرداخت   
ارزی رو هم با API یکی از سرویس دهنده هایی مثل  Plisio یا موارد مشابه) 
=== PAGE 4 ===
 *2 نوعفرمت برای  محصول ت داریم: 
۱ .  موجود در انبار:  بعد از  پرداخت،  در صورت موجود بودن،  مشخصات اکانت  بهمراه توضیحات   
بصورت  اتومات  برای کاربر  ارسال  میشه.  اگر موجود نباشه باید صبر کنه تا موجود بشه و بمحض  
موجود شدن به ترتیب برای کاربرانی که پرداخت کردن و در صف انتظار هستن ا رسال میشه.  
۲ .  نیاز به اطلاعات: ب عد از پرداخت،  یک ت وضیح  برای کاربر نمایش داده میشه و  کاربر باید  اطلاعات  
لزم رو  داخل ربات  بفرسته تا اشتراک براش فعال بشه.   ( متن توضیح قابل ادیت باشه،  اگر این  
اطلاعات نیاز به ادیت یا تعویض داشت ادمین  باید بتونه  به کاربر پیام بده و این  موردو اطلاع بده  
و کاربر مجدد اطلاعات جدید بفرسته. وقتی اشتراک فعال شد ادمین  دکمه تایید   رو بزنه  و   پیام  
تایید که  متنش از قبل مشخص  شده  برای کاربر ارسال بشه. برای این فرمت محصول باید امکان  
ادیت متن تایید هم وجود داشته باشه.) 
نکته:  بعضی محصولت فقط شامل یک لینک  و توضی حات  هستن، اما بعضیها شامل ایمیل و پسورد  
و کد 2FA  وتو ضیح ه ستن.  
 
 
مواردی که میتونه بمونه برای فاز 2 پروژه:  
• پرداخت ار زی  
• گزارش گی ری  
• زیرمجموعه گیری  
• امکان تغییر شماره کارت و صاحب حساب  
• کدهای تخفیف  
• ثبت تیکت  
• سوالت متداول 
• ارسال پیام یادآور اتمام  اشتراک  
• تایید اتومات پرداختها!!! 
 
مواردی که مهمه سازنده ربات انجام بده: 
• راهنمایی کامل برای خرید  هاست یا سرور مناسب با کمترین قیمت  
• تحویل سورس کامل و عدم ارسال سورس برای دیگری  
• پشتیبان ی با مدت توافق شده و انجام اصلاحات لزم و رفت مشکلات  
• پرداخت  نهایی بعد از تحویل  و تا یید    
• وید یوی  آموزش استفاده و مد یر یت  
• وید یوی  آموزش انتقال سورس به هاست جد ید  و موارد مهم  