=== PAGE 1 ===
های دیجیتال طراحی کنیم. برای بررسی پروژه و قصد داریم یک ربات فروشگاهی تلگرام برای فروش اکانت و اشتراک 
اعلام قیمت، کلیات امکانات موردنیاز به شرح زیر است:
بخش کاربری
 جوین اجباری کانال•
بندی، زیردسته و محصولات  فروشگاه با دسته•
 ثبت اطلاعات کاربر در اولین خرید•
ها ها و تراکنش  حساب کاربری شامل اطلاعات کاربر، آمار خرید، موجودی کیف پول و تاریخچه سفارش•
 کیف پول با امکان شارژ و استفاده از موجودی در خرید•
ها  مشاهده وضعیت و جزئیات سفارش•
 سوالات متداول و تیکت پشتیبانی•
 سیستم دعوت دوستان و پاداش•
 لینک ورود به کانال اصلی•
بخش مدیریت
مدیریت ربات
 خاموشروشن کردن ربات •/ 
های جوین اجباری   مدیریت کانال•
های پرداخت  مدیریت روش •
 مدیریت لینک کانال•
 امکان تعریف مدیر جدید•
 امکان تعریف پشتیبان ربات با دسترسی محدود•
گیری از اطلاعات ربات  بکاپ•
محصولات
ها و محصولات  مدیریت کامل دسته•
=== PAGE 2 ===
 تعیین قیمت، مدت، موجودی و وضعیت نمایش محصول•
 مدیریت انبار برای محصولات آماده•
 امکان رزرو محصول در صورت اتمام موجودی و تحویل به ترتیب صف پس از شارژ انبار•
 امکان اختصاص دستی محصول به کاربر توسط ادمین•
 پشتیبانی از دو نوع محصول:•
 •۱شوند. شود و بعد از پرداخت تحویل داده می ها داخل انبار ربات ذخیره می . محصولات آماده تحویل که اطلاعات آن
 •۲. محصولاتی که بعد از پرداخت نیاز به دریافت اطلاعات از کاربر و انجام سفارش توسط ادمین دارند.
ها سفارش
ها بر اساس وضعیت  مدیریت و مشاهده سفارش•
ها  جستجو و فیلتر سفارش•
 ویرایش وضعیت سفارش•
 هر سفارش دارای شناسه یا شماره سفارش یکتا باشد.•
 امکان دریافت اطلاعات یا رسید از کاربر برای سفارش•
نشده پس از مدت مشخص  های پرداخت  سفارش•( ۰۳ دقیقه منقضی شوند. )
مدیریت کاربران
 لیست و جستجوی کاربران•
ها و آمار هر کاربر ها، تراکنش  مشاهده اطلاعات، سفارش•
 مسدودآزاد کردن کاربر •/ 
 افزایش یا کاهش موجودی کیف پول توسط مدیریت با ثبت دلیل•
 ارسال پیام به کاربر•
 امکان اعمال تخفیف برای کاربر•
ارسال پیام
 ارسال پیام به کاربر خاص•
=== PAGE 3 ===
 ارسال پیام به همه کاربران•
 ارسال پیام هدفمند به گروهی از کاربران بر اساس شرایطی مثل زمان عضویت یا خرید محصول خاص در زمان• 
مشخص
تخفیف
 تعریف و مدیریت کدهای تخفیف•
 تخفیف مبلغی یا درصدی•
 امکان محدودکردن تخفیف به محصول یا کاربران خاص•
پشتیبانی
 سوالات متداول•
ها  سیستم تیکت و مشاهده و پاسخ به تیکت•
گیری  گزارش
ها  گزارش سفارش•
 گزارش کاربران•
 گزارش مالی •
 امکان فیلتر بر اساس بازه زمانی•
یادآوری اشتراک
های زمانی مشخص مثل یک هفته،   امکان ارسال خودکار پیام یادآوری قبل از پایان اشتراک محصولات در بازه•( ۳ روز 
و ۱ روز)
پرداخت
کارت با تایید اتومات با کمک اپلیکیشن  به  پرداخت کارت•Macrodroidهای بانکی  و نگاه به پیامک
 پرداخت ارزی با تایید اتومات با کمک •APIها دهنده  یکی از سرویس
سیستم پاداش زیرمجموعه
 پاداش بابت استارت ربات•
=== PAGE 4 ===
 پاداش بابت خرید هر محصول تا تایم مشخص•
 پاداش بابت اولین خرید•
 تعریف پاداش ترکیبی•
شرایط کلی پروژه
کد و دیتابیس  تحویل کامل سورس•
 راهنمایی برای تهیه سرور مناسب و اقتصادی•
شده  پشتیبانی و رفع ایرادات پس از تحویل برای مدت توافق•
 آموزش استفاده از ربات و مدیریت ربات و انتقال آن به سرور جدید بصورت ویدیویی•
های جانبی احتمالی و مدت پشتیبانی اعلام  هزینه را به همراه زمان لازم برای اجرا، تکنولوژی پیشنهادی، هزینهdالطف 
کنید.